@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 
    font-family: 'Roboto Mono', monospace;

}

.ReactModal__Overlay {
    opacity: 0;
    transform: translateX(200px);
    transition: all 200ms ease-in-out;
    background-color: rgba(0,0,0,0.8) !important;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(100px);
  }

.ReactModal__Content{
    top: 0 !important;
    right: 0 !important;
    background-color: white !important;
    inset: 0 0 0 30vw !important;
}

.css-10d9dml-MuiTabs-indicator{
  width: 4px !important;
}

.css-35zqo5-MuiTabs-root{
    overflow: unset !important;
}
